/*
0 - 600px:    Phone

600 -900px:   Tablet Portrait
900- 1200px:  Tablet Landscape

[1200 - 1800] our normal styles (desktop first)

1800px+:      Big Desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
h1, h2, h3, a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #065f6d; }

h1 {
  border-bottom: 1px solid #eeaa7b;
  color: #e37222;
  font-size: 3rem;
  margin: 1rem 0 2rem;
  padding-bottom: 1rem;
  text-transform: uppercase; }

h2 {
  font-size: 2.5rem;
  font-style: italic;
  text-transform: capitalize; }

h3 {
  font-size: 1.25rem;
  text-transform: uppercase; }

a {
  font-size: 2.5rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 45%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 100%; } }

body {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 25vw 1fr;
  grid-template-areas: "nav content";
  margin: 0;
  font-family: "Nunito", sans-serif;
  background-color: #fdfdfd; }
  @media only screen and (max-width: 37.5em) {
    body {
      grid-template-columns: 1fr; } }

a {
  text-decoration: none; }

.nav {
  grid-area: nav;
  border-right: #66b9bf solid 3px;
  height: 100vh;
  width: 25vw;
  position: fixed; }
  .nav header {
    border-bottom: 3px solid #66b9bf;
    max-width: calc(25vw - 3px); }
  .nav h2 {
    background-color: #e37222;
    color: #fdfdfd;
    text-align: center;
    padding: 1rem 0; }
  .nav li {
    border-bottom: 1px solid #66b9bf;
    padding: 0.75rem;
    margin: 0; }
    .nav li:hover {
      background-color: #eeaa7b; }
      .nav li:hover a {
        transform: scale(1.5); }

.content {
  grid-area: content;
  display: grid;
  grid-template-columns: 3vw 1fr;
  grid-template-areas: "header header" ". tab1";
  max-width: 1000px;
  padding: 1rem 3rem; }
  @media only screen and (max-width: 37.5em) {
    .content {
      margin: 30rem 5vw; } }
  .content article {
    grid-area: tab2;
    color: #065f6d;
    font-size: 1.6rem;
    margin-bottom: 3rem; }
  .content ul {
    list-style-type: "-"; }
  .content li {
    margin-left: 2rem; }
  .content h1 {
    grid-area: header; }
  .content h2 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem; }
  .content h3 {
    font-size: 1.8rem;
    grid-column: 2 / -2; }

.main-section {
  display: grid;
  grid-template-columns: 3vw 1fr;
  grid-template-areas: "section-header section-header" ". tab2";
  grid-column: 2 / -1; }
  .main-section header {
    grid-column: 1 / -1; }
