//GLOBAL RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // this defines what 1rem equals

  font-size: 62.5%; // 1 rem = 10px; 10px/16px = 62.5%

  @include respond(phone) {
    font-size: 75%; // 1rem = 12px, 12/16 = .75
  }
  // this query also covers the phone
  @include respond(tab-port) {
    font-size: 75%; // 1rem = 12px, 12/16 = .75
  }

  @include respond(tab-land) {
    font-size: 100%; // 1rem = 16px
  }
}

body {
  box-sizing: border-box;

  display: grid;
  grid-template-columns: $side-bar-width 1fr;
  grid-template-areas: "nav content";
  margin: 0;

  font-family: $font-primary;
  background-color: $color-white;
  color: $color-black;
  font-weight: 300;
  line-height: 1.6;
}

a {
  text-decoration: none;
}
