.content {
  grid-area: content;
  display: grid;
  grid-template-columns: 3vw 1fr;
  grid-template-areas:
    "header header"
    ". tab1";
  max-width: 1000px;
  padding: 1rem 3rem;

  @include respond(phone) {
    margin: 30rem 5vw;
  }

  article {
    grid-area: tab2;
  }

  ul {
    list-style-type: "-";
  }

  li {
    margin-left: 2rem;
  }

  h1 {
    margin: 1rem 0 2rem;
    grid-area: header;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1.8rem;
    grid-column: 2 / -2;
  }

  // p,
  // ul,
  // pre,
  // section {
  //   grid-column: 3 / -2;
  // }

  p {
    color: #4d4e53;
  }
}

.main-section {
  display: grid;
  grid-template-columns: 3vw 1fr;
  grid-template-areas:
    "section-header section-header"
    ". tab2";
  grid-column: 2 / -1;

  header {
    grid-column: 1 / -1;
  }
}

// @media (min-width: 700px) {
//   #wrapper {
//     grid-template-columns: 300px auto;
//   }

//   nav {
//     height: 100vh;
//   }
// }
