.nav {
  position: fixed;
  grid-area: nav;
  border-right: gray solid 2px;
  height: 100vh;
  max-width: 25vw;

  // a {
  //   display: block;
  // }

  header {
    border-bottom: 3px solid $color-grey-light;
  }

  h2 {
    background-color: $color-secondary;
    color: $color-white;
    text-align: center;
    padding: 1rem 0;
  }

  h3 {
    max-width: $side-bar-width;
  }

  li {
    border-bottom: $border-bottom;
    padding: 0.75rem;
    margin: 0;
  }
}
