nav {
  display: grid;
  grid-area: nav;
  border-right: gray solid 2px;
  height: 100vh;

  h1,
  h2 {
    text-align: center;
  }
  h1,
  h2,
  h3 {
    border-bottom: 1px solid $color-grey-light;
    padding: 0 0.5rem;
    margin: 0;
    // overflow-wrap: break-word;
  }
  /* padding-bottom: 0.5rem; */
  /* height: 1rem; */
}
