.nav {
  grid-area: nav;
  border-right: gray solid 3px;
  height: 100vh;
  width: $side-bar-width;
  position: fixed;

  header {
    border-bottom: 3px solid $color-grey-light;
    max-width: calc(#{$side-bar-width} - 3px);
  }

  h2 {
    background-color: $color-secondary;
    color: $color-white;
    text-align: center;
    padding: 1rem 0;
  }

  li {
    border-bottom: $border-bottom;
    padding: 0.75rem;
    margin: 0;
  }
}
