//COLORS
$color-primary: #55c57a;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-grey-light: #999;
$color-grey-dark: #333;

$color-white: #fdfdfd;
$color-black: #1d1d1d;

// FONT
$default-font-size: 1.6rem;
$font-size: 1.6rem;
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;
