//COLORS

// "mathmagiker" inspired color theme
$color-primary: #e37222;
$color-primary-light: #eeaa7b;

// $color-secondary: #07889b; original teal
$color-secondary: #065f6d; // new darker teal
$color-secondary-light: #66b9bf;

$color-grey-light: #999;
$color-grey-dark: #333;

$color-white: #fdfdfd;
$color-black: #1d1d1d;

// FONT
$default-font-size: 1.6rem;
$font-size: 1.6rem;
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

//border
$border-color: $color-secondary-light;
$border-bottom: 1px solid #{$border-color};
$side-bar-width: 25vw;
